<?xml version="1.0"?>
<config>
    <modules>
        <DPD_Shipping>
            <version>2.0.1</version>
        </DPD_Shipping>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <dpd_parcelshop_id>
                    <to_order>*</to_order>
                </dpd_parcelshop_id>
            </sales_convert_quote>
        </fieldsets>
        <blocks>
            <dpd>
                <class>DPD_Shipping_Block</class>
            </dpd>
        </blocks>
        <models>
            <dpd>
                <class>DPD_Shipping_Model</class>
                <resourceModel>dpd_mysql4</resourceModel>
            </dpd>
            <dpd_mysql4>
                <class>DPD_Shipping_Model_Mysql4</class>
                <entities>
                    <returnlabels>
                        <table>dpd_shipping_returnlabels</table>
                    </returnlabels>
                    <specialparcelshops>
                        <table>dpd_shipping_specialparcelshops</table>
                    </specialparcelshops>
                    <dpdclassic_tablerate>
                        <table>dpd_shipping_dpdclassic_tablerate</table>
                    </dpdclassic_tablerate>
                    <dpdparcelshops_tablerate>
                        <table>dpd_shipping_dpdparcelshops_tablerate</table>
                    </dpdparcelshops_tablerate>
                </entities>
            </dpd_mysql4>
        </models>
        <helpers>
            <dpd>
                <class>DPD_Shipping_Helper</class>
            </dpd>
        </helpers>
        <resources>
            <dpd_setup>
                <setup>
                    <module>DPD_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dpd_setup>
            <dpd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dpd_write>
            <dpd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dpd_read>
        </resources>
        <template>
            <email>
                <dpd_returnlabel_email_template translate="label" module="dpd">
                    <label>Dpd Returnlabel Email</label>
                    <file>sales/dpd_returnlabel.html</file>
                    <type>html</type>
                </dpd_returnlabel_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <dpd>
                    <file>dpd_shipping.xml</file>
                </dpd>
            </updates>
        </layout>
        <translate>
            <modules>
                <dpd>
                    <files>
                        <default>DPD_Shipping.csv</default>
                    </files>
                </dpd>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <dpdshipping>
                        <class>dpd/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </dpdshipping>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <dpdshipping>
                        <type>singleton</type>
                        <class>dpd/observer</class>
                        <method>checkout_controller_onepage_save_shipping_method</method>
                    </dpdshipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_onestepcheckout_ajax_save_billing>
                <observers>
                    <dpdshippingonestepbilling>
                        <type>singleton</type>
                        <class>dpd/observer</class>
                        <method>controller_action_predispatch_onestepcheckout_ajax_save_billing</method>
                    </dpdshippingonestepbilling>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_save_billing>
            <checkout_submit_all_after>
                <observers>
                    <dpdshippingonestepsave>
                        <class>dpd/observer</class>
                        <method>checkout_submit_all_after</method>
                    </dpdshippingonestepsave>
                </observers>
            </checkout_submit_all_after>
        </events>
        <routers>
            <dpd>
                <use>standard</use>
                <args>
                    <module>DPD_Shipping</module>
                    <frontName>dpd</frontName>
                </args>
            </dpd>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <dpdshipping>
                        <class>dpd/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                        <type>model</type>
                    </dpdshipping>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_shipment_save_before>
                <observers>
                    <dpdshipping>
                        <class>dpd/observer</class>
                        <method>sales_order_shipment_save_before</method>
                        <type>model</type>
                    </dpdshipping>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <translate>
            <modules>
                <dpd>
                    <files>
                        <default>DPD_Shipping.csv</default>
                    </files>
                </dpd>
            </modules>
        </translate>
        <layout>
            <updates>
                <dpdshipping>
                    <file>dpd/shipping.xml</file>
                </dpdshipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <dpdclassic>
                <active>1</active>
                <model>dpd/carrier_dpdclassic</model>
                <title>DPD Home Delivery</title>
                <name>Delivery at home</name>
                <sort_order>0</sort_order>
                <default>0</default>
                <ratetype>0</ratetype>
                <flatrateprice>0</flatrateprice>
                <paperformat>0</paperformat>
                <specificcountry>BE,FR,DE,LU,NL</specificcountry>
                <sallowspecific>1</sallowspecific>
            </dpdclassic>
            <dpdparcelshops>
                <active>1</active>
                <log_level>7</log_level>
                <model>dpd/carrier_dpdparcelshops</model>
                <title>Pickup parcelshop</title>
                <name>Delivery at a Pickup parcelshop</name>
                <sort_order>0</sort_order>
                <default>0</default>
                <ratetype>0</ratetype>
                <flatrateprice>0</flatrateprice>
                <google_maps_width>600</google_maps_width>
                <google_maps_height>430</google_maps_height>
                <paperformat>0</paperformat>
                <google_maps_maxpointers>10</google_maps_maxpointers>
                <google_maps_display>0</google_maps_display>
                <google_maps_enable_list>0</google_maps_enable_list>
                <specificcountry>BE,FR,DE,LU,NL</specificcountry>
                <sallowspecific>1</sallowspecific>
            </dpdparcelshops>
        </carriers>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dpd before="Mage_Adminhtml">DPD_Shipping_Adminhtml</dpd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
